.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:90px;
    -fx-tab-min-height: 34px;
    -fx-background-color: #696D6C;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab {
    -fx-background-color: #3D4241;

}

.tab-pane .tab:selected {
    -fx-background-color: #222827;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-family: "Proxima Nova Alt Rg";

}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}