/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/11/2017, 04:51:40 PM
    Author     : Miguel Alejandro Cámara Árciga
*/

.tree-view {
    -fx-background-color: #1995AD;
}

.tree-cell {
    -fx-background-color: #1995AD; 
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: #A1D6E2;
    -fx-text-fill:black;
}

.tree-cell:filled:selected{
    -fx-background-color:  #A1D6E2;
}

.tree-cell:filled:hover {
    -fx-background-color:  #A1D6E2;
   
}