.menu-bar{
  -fx-background-color: #FFFFFF;
  -fx-border-width: 2;
}

.menu-bar .label {
    -fx-font-size: 16px;
    -fx-font-family: "Proxima Nova Alt Rg";
    -fx-text-fill: #161B20;
}

.menu-item .label{
  -fx-font-size: 14px;
  -fx-label-line-length: 8;
}